@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins";
  margin: 0;
}

.logo {
  margin: 0.7em 0.5em 0 0.5em;
  font-size: 1.3em;
}

header {
  display: flex;
  justify-content: space-between;
}

header {
  .hide-mobile {
    display: none;
  }
}

nav.mobile-menu {
  display: block;
}

nav {
  position: fixed;
  width: 70%;
  top: 0;
  right: 0;
  transition: 0.5s;
  animation: move 1s forwards;
  //  transition: 0.5s;
  text-align: left;
  background-color: rgb(36, 41, 44);
  height: 100%;
  z-index: 1000;
  padding-top: 1.5em;

  @keyframes move {
    from {
      transition: translateX(0);
    }
    to {
      transition: translateX(100%);
    }
  }

  .exit-btn {
    position: absolute;
    right: 0;
    cursor: pointer;
    display: block;
    z-index: 1002;
    margin-right: 2em;
  }

  ul {
    margin-top: 2.5em;
    list-style-type: none;
    text-decoration: none;

    li {
      padding: 0;
      margin: 0.5em 0 1.5em 0;

      .create-new-btn {
        border: 2px solid rgb(133, 132, 132);
        float: left;
        margin-top: 1.5em;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        color: white;

        &:hover {
          background: white;
          color: black;
        }
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

.right-col {
  margin-right: 1.5em;
  margin-top: 1.2em;
  display: flex;
}

.create-new-btn-col {
  display: none;
  cursor: pointer;
}

.login-btn {
  height: fit-content;
  margin: -10px 1.5em;
  background: black;
  color: white;
  cursor: pointer;
  padding: 0.5em 0.7em;
  border-radius: 0.3em;
}

.search {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.mobile-menu {
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.hero-container {
  .hero-title-section {
    margin: 1.5em 2em 0em;
    padding-bottom: 0;

    h1 {
      font-size: 2.5em;
      margin-bottom: 0.3em;
    }
    .desc-text {
      margin-top: 0;
      padding-top: 0;
      text-transform: uppercase;
      font-weight: 400;
    }
    .explore-btn {
      background: black;
      color: white;
      float: left;
      margin-top: 0.3em;
      padding: 0.5em 1.2em;
      border-radius: 0.4em;
    }
  }

  .hero-images-section {
    width: 100%;
    margin-top: 1.3em;
    // position: absolute;

    .hero-img {
      display: block;
      width: 93%;
      background-size: contain;
      margin: 5em auto 0 auto;
      text-align: center;
    }

    .profile-container {
      width: 70%;
      margin: -27vh auto 2em auto;
      padding-left: 1.5em;
      padding-bottom: 0.8em;
      justify-content: space-between;
      display: flex;
      z-index: -2;
      background-color: black;
      color: white;
      padding-top: 30vh;

      .left-col {
        display: flex;

        .profile-img {
          width: 50px;
          height: 50px;
          background-size: contain;
          border-radius: 50%;
        }

        .profile-details {
          h3 {
            margin: 0.2em 0 0 1em;
            font-size: 0.9em;
          }
          .agent {
            display: block;
            margin: 0.3em 0 0 1em;
            font-size: 0.8em;
            color: gray;
          }
        }
      }

      .call-section {
        right: 0;
        bottom: 0;
        margin: 1em 1.5em 0 0;
        padding-bottom: 0;

        .call-img {
          width: 25px;
          height: 25px;
          padding: 0;
          margin: 0 0.5em;
        }
      }
    }
  }
}

.properties-container {
  .properties-section-title {
    display: flex;
    justify-content: space-between;

    .left-col {
      margin-left: 1.5em;

      h3 {
        color: gray;
        margin: 0;
      }
      h2 {
        margin-top: 0.2em;
        font-size: 1.5em;
      }
    }

    .explore-btn {
      position: absolute;
      right: 1em;
      margin-top: 3.5em;
      font-size: 1em;
      border: 2px solid black;
      padding: 0.5em 1.5em;
      border-radius: 0.5em;
    }
  }

  .list-of-properties {
    margin: 0;
    position: relative;

    ul {
      list-style-type: none;
      margin: 0em;
      padding: 0em 0 1em 1.5em;
      display: flex;
      overflow-x: auto;
      position: relative;
      cursor: pointer;

      li {
        position: relative;
        margin-top: 1.5em;
        margin-bottom: 2em;
        transition: 0.2s ease-in;
        margin-right: 2em;
        border-radius: 1em;
        padding: 0.7em;
        padding-left: 0.5em;
        white-space: normal;

        &:hover {
          transform: scale(1.03);
          box-shadow: 5px 5px 10px 10px #e8e8e6;
        }

        img {
          padding: 0;
          margin: 0;
          background-size: auto;
          border-radius: 0.8em;
          width: 400px;
          height: 300px;
        }
        h3 {
          margin: 1em 0 0.6em 0.3em;
        }
        .address {
          margin-top: 0;
          margin-left: 0.5em;
          font-size: 0.9em;
          color: gray;
        }
        .rating {
          position: absolute;
          background: white;
          top: 0.5em;
          padding: 0.2em 0.5em;
          border-radius: 0.3em;
          right: 1.5em;
          z-index: 999;
        }
        .price {
          padding: 0;
          margin: 0 0 0 0.4em;
          font-size: 1.2rem;
        }

        ul {
          margin-top: 0.5em;
          margin-left: 0.3em;
          padding: 0;
          display: flex;

          li {
            margin: 0 1.5em 0 0.4em;
            padding: 0;
            box-shadow: none;
            position: relative;
            display: flex;

            .about-prop-icon {
              margin-left: 0;
              width: 35px;
              height: 40px;
            }
            small {
              margin: 0.8em 0 0 0.9em;
              font-weight: 700;
              color: gray;
            }

            .bath {
              height: 35px;
            }
          }
        }

        .book-now-btn {
          border: 2px solid black;
          float: left;
          border-radius: 0.5em;
          padding: 0.5em 0.8em;
        }
      }
    }
  }
}

.solutions-container {
  margin: 2em 0 0 1.5em;

  h3 {
    padding: 0;
    margin: 1em 0;
    color: gray;
    font-size: 1.2rem;
  }

  h2 {
    margin: 0;
  }

  .explore-btn {
    position: absolute;
    right: 1em;
    margin-top: 3.5em;
    font-size: 1em;
    border: 2px solid black;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
  }

  p {
    color: gray;
    font-size: 1em;
  }
}

@media only screen and(min-width:900px) {
  body {
    padding: 0.5em 0 0 1em;
  }

  .right-col {
    .mobile-menu {
      display: none;
    }
  }

  header {
    padding: 1em 2em 0 2em;
    // display: flex;
    position: relative;
    width: 100%;
    //   height: fit-content;
    justify-content: space-between;
    padding: 0;

    .right-col {
      position: absolute;
      display: flex;
      //  float: right;
      right: 0;
      vertical-align: middle;
      justify-content: space-between;
      padding-right: 2em;
      margin: 0;
      //    margin-right: 2em;
      //    flex-direction: column-reverse;

      .search {
        position: absolute;
        display: flex;
        margin: 1.4em 0 0 -9.3em;
        cursor: pointer;
      }

      .create-new-btn-col {
        display: inline-block;
        position: relative;
        color: white;
        background: black;
        margin: 0.6em 0.5em 0 0;
        padding: 0.6em 1em;
        border-radius: 0.5em;
        font-size: 1.1em;
        cursor: pointer;
      }

      .login-btn {
        position: absolute;
        color: black;
        background: white;
        border: 3px solid black;
        margin: 0.5em 0 0 -5.5em;
        padding: 0.5em 0.8em;
        font-size: 1.1em;
        cursor: pointer;
      }
    }

    .hide-mobile {
      display: flex;
      //justify-content: space-between;
      background: none;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.2em;
      padding: 0;

      .exit-btn {
        display: none;
      }

      ul {
        display: flex;
        position: absolute;
        margin: 0;
        padding: 0;

        li {
          padding: 0;
          margin: 0 0.7em 0;
          a {
            color: black;
            font-size: 1em;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
  }

  body {
    display: block;

    //  position: relative;
    .hero-container {
      display: flex;
      justify-content: space-between;

      .hero-title-section {
        position: absolute;
        float: left;
        text-align: left;
        z-index: 3;

        h1 {
          padding-right: 12em;
          font-size: 3em;
          margin-top: 1em;
        }
        .desc-text {
          padding-right: 80%;
        }

        .explore-btn {
          background: white;
          color: black;
          border: 2px solid black;
        }
      }

      .hero-images-section {
        z-index: -2;
        width: 73%;
        right: 0;
        float: right;
        margin-top: -2em;
        margin-left: auto;
        margin-right: 2.5em;
        position: relative;

        .profile-container {
          margin: -28vh 0 2em auto;
        }
      }

      .properties-container {
        margin-top: 2em;
      }
    }
  }
}

@media only screen and (min-width: 1022px) {
  .hero-container {
    .hero-title-section {
      .desc-text {
      }
    }
  }
}
